In [1]:
#Lists

my_list=[1,2,3]

#adding an element in the list

my_list.append(4)

#removing an element 2

my_list.remove(2)

#modifying an element 1 as ONE in my_list

my_list[0]='ONE'

#Returning the updated list

my_list

['ONE', 3, 4]

In [2]:
#Dictionary

my_dict={'apple':2.99,'oranges':3.25,'Butter':1.95}

#adding an element in the Dictionary

my_dict['Mango']=9.9

#removing an dictionary

my_dict.pop('apple')

#modifying an value of oranges as 4.25

my_dict['oranges']=4.25

#Returning the updated Dictionary

my_dict

{'oranges': 4.25, 'Butter': 1.95, 'Mango': 9.9}

In [3]:
#Sets

myset={1,2,3,4,5}

#adding an element in the Set

myset.add(6)

#removing an Element in an Set

myset.remove(2)

#modifying an element of 4 to 7 in Set

myset.update('6')

#Return the updated set

myset

{1, 3, 4, 5, 6, '6'}